

img {
  margin-left: 40%;
  border: none;
  border-radius: 5px;
  padding: 15px;
  width: 220px;
  
}

.container-fluid.card.login-container {
  background-color: rgb(225, 235, 248); /* or any shade of blue you prefer */
}

.center-button {
  display: flex;
  justify-content: center;
}
